/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */
*{
    text-decoration: none !important;
    color: #2E2F30;
}
.latest-updates-image {
    height: 300px;
    object-fit: cover;
}

.random-posters-image {
    height: 500px;
    object-fit: cover;
}

.card {
    overflow: hidden;
}

.card-img {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img {
    transform: scale(1.3);
}

.form-control {
    height: 30px;
}
.search-btn {
    background: transparent;
    all: unset;
}
.search-btn:hover {
    background: transparent !important;
}
.with-icon {
    padding-right: 38px;
}

.input-group-text {
    background-color: transparent;
    border: none;
}